<!DOCTYPE html>
<html>
<head>
	<%- include("../_includes/global_head.ejs") -%>
	<title>Freelance Portfolio - XZANSite</title>
	<link rel="stylesheet" href="/css/freelance.css">
	<script src="/js/freelance.js" defer></script>
</head>

<body class="body-dark">
	<div class="theme-switcher">
		<%- include("../theme_switch.ejs") %>	
	</div>
	
	<header>
		<p>
			As a Software Engineer, I have extensive experience in developing and implementing small-medium software solutions for a wide range of industries. My experience includes designing and developing web & desktop apps, and automation scripts. I am also proficient in database management, and API development.
			<br><br>
			With a strong background in computer science and multiple projects listed on GitHub, I'm confident in my ability to contribute into your project and meet the required needs.
		</p>
	</header>

	<main class="row gx-5 gy-4">
		<% records.forEach((record, index) => { %>
		<section class="col-12 col-md-4">
			<div class="box" data-bs-toggle="modal" data-bs-target="#project<%= index %>">
				<img src="/imgs/freelance/<%= record.title %>.png" lazy>
				<h4><%= record.title %> | <%= record.date %></h4>
				<p><%= record.description %></p>
			</div>

			<div class="modal fade" id="project<%= index %>" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
			  		<div class="modal-content">
			      		<div class="modal-header">
			        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      		</div>
			      		<div class="modal-body">
			        		<img src="/imgs/freelance/<%= record.title %>.png" lazy>
			      		</div>
			    	</div>
			  	</div>
			</div>
		</section>
		<% }) %>
	</main>
</body>